<?xml version="1.0" encoding="UTF-8" ?>
    <!-- 2015-06-18 - ADDED xmlns:android so the Android properties can be extended -->
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:android   = "http://schemas.android.com/apk/res/android"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.bsdmasterindex.phonegapgeneric-boilerplate5"
        version     = "1.6.0"
        versionCode = "10" >
        <!-- versionCode is optional and Android only -->
        <preference name='phonegap-version' value='cli-5.2.0' />

        <name>Phonegap Generic Boilerplate #6</name>
        <description>Phonegap Generic Boilerplate #6</description>
        <author href="http://bsdmasterindex.com" email="jessemonroy650@yahoo.com">
        Jesse Monroy
        </author>

        <!-- Android SECTION -->
        <gap:platform name="android" />
        <gap:config-file platform="android" parent="/manifest/application" >
            <!-- Add Android extensions here. SEE: http://docs.build.phonegap.com/en_US/configuring_config_file_element.md.html#Config%20File%20Elements -->
        </gap:config-file>

        <!-- iOS SECTION -->
        <gap:platform name="ios" />
        <gap:config-file target="*-Info.plist" parent="CFBundleURLTypes">
            <!-- Add iOS extensions here. SEE: http://docs.build.phonegap.com/en_US/configuring_config_file_element.md.html#Config%20File%20Elements -->
        </gap:config-file>

        <!-- App requested permission -->
        <preference name="permissions" value="none"/>

        <!-- PLUGINS PLUGINS -->
        <plugin name="cordova-plugin-battery-status" source="npm" />
        <plugin name="cordova-plugin-camera"         source="npm" />
        <plugin name="cordova-plugin-console"        source="npm" />
        <plugin name="cordova-plugin-contacts"       source="npm" />
        <plugin name="cordova-plugin-device"         source="npm" />
        <plugin name="cordova-plugin-device-motion"  source="npm" />
        <plugin name="cordova-plugin-device-orientation" source="npm" />
        <plugin name="cordova-plugin-dialogs"        source="npm" />
        <plugin name="cordova-plugin-file"           source="npm" />
        <plugin name="cordova-plugin-file-transfer" source="npm" />
        <plugin name="cordova-plugin-geolocation"    source="npm" />
        <plugin name="cordova-plugin-globalization"  source="npm" />
        <plugin name="cordova-plugin-inappbrowser"   source="npm" />
        <plugin name="cordova-plugin-legacy-whitelist" source="npm" /> <!-- NEW -->
        <plugin name="cordova-plugin-media"          source="npm" />
        <plugin name="cordova-plugin-media-capture"  source="npm" />
        <plugin name="cordova-plugin-network-information" source="npm" />
        <plugin name="cordova-plugin-splashscreen"   source="npm" />
        <plugin name="cordova-plugin-statusbar"      source="npm" /> <!-- NEW -->
        <plugin name="cordova-plugin-test-framework" source="npm" /> <!-- NEW -->
        <plugin name="cordova-plugin-vibration"      source="npm" />
        <plugin name="cordova-plugin-whitelist"      source="npm" /> <!-- NEW -->

        <!-- popular alternative to the google chrome webview -->
        <plugin name='org.crosswalk.engine' version='1.3.0' source='pgb'  />
    </widget>
